* {
    margin: 0;
    padding: 0;
}

/*===================jumbotron================*/
.container{
    width: 200px;
    height: 120px;
}

.background{
    width:100%;
    height:700px;
    text-align: center;
    font-family: 'Raleway';
    background: url(/images/webapp/landing-page.jpg);
    background-size: cover !important;
}

.tagline{
    padding-top: 350px;
    color:#fff
}

.super-background{
    background-color: orange;
}

.super-background .round-it{
    border-radius: 20px;
    color:#e8e8e8;
    width: 300px;
    background: orange;
}

.logo{
    width: 20%;
    height: 20%;
    background-size: cover !important;
}

.button-round{
    position: center absolute;
    margin: 0 auto;
}

/*===================header================*/

header{
    font-family: "raleway"
}

/*===================footer================*/

.footer {
    background-color: orange;
    font-family: "raleway";
    text-align: center;}

.footer .brand{
    font-family: "montserrat";
    font-size: 30px;
    letter-spacing: 10px;
}

.footer .footer-link a{
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    margin: 42px;        
}

/*===================text area================*/

.text-zone{
    text-align: center;
    margin: 0 auto;
}

.text-zone .step-1, 
.text-zone .step-3{
    background-color: #e8e8e8;
}

/*===================header.js / navbar================*/

/*.nav-left{
position: absolute;
left: 0;
}

.nav-right{
position: absolute;
right: 0;
}
*/

